:root{
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #282623;
  --black: #201e1c;
  --off-white: #faf8f7;
  --just-white: #fff;
  --grey: #bababa;
  --green-money: #3CCF4E;
  --dark-blue: #003865;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif; ;
}
header{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(
    208.83deg,
    var(--black) 16.69%,
    var(--bitcoin-orange)100%
  )
}
header img{
  width: 90%;
  height: 25px;
  margin-top: 60px;
  align-self: center;
  
} 
.header-title-container{
  width: 90%;
  min-width: 24px;
  max-width: 900px;
  height: 218px;
  margin-top: 50px;
  text-align: center;
  align-self: center;
  
}
.header-title-container h1{
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}
.header-title-container p{
  margin-top: 30px;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: var(--soft-orange);
}
.header-title-container .header-button{
  position: absolute;
  left: calc(50% - 90px);
  top: 270px;
  display: block;
  margin-top: 52px;
  padding: 8px;
  width: 180px;
  height: 30px;
  background-color: var(--off-white);
  /* shadows-styles */
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 6px;
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}
.header-title-container .header-button span{
  display: inline-block;
  width: 15px;
  height: 9px;
  margin-left: 2px;
  background-image: url(../assets/icons/down-arrow.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
main{
  width: 100%;
  height: auto;
  background-color: var(--off-white);
}
main{
  width: 100%;
  height: auto;
  background-color: var(--off-white);
}
.main-exchange-container{
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 0px;
  text-align: center;
}
.main-exchange-container--title{
  width: 90%;
  min-width: 280px;
  max-width: 900px;
  margin: 0 auto;
}
.main-exchange-container .backgroundImg{
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-image: url("../assets/img/Bitcoin.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-exchange-container h2{
  margin-bottom: 35px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.4rem;
  color: var(--black);
}
.main-exchange-container .paragraph{
  margin-bottom: 35px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4rem;
  color: #757575;
}
.main-currency-table, .main-commissions-table{
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 360px;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
}
.main-currency-table .currency-table-title{
  margin-bottom: 230x;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.6rem;
  color: var(--bitcoin-orange);
}
.main-commissions-table .commissions-table-title{
 font-size: 1.8rem;
 font-weight: bold;
 line-height: 2.3rem;
 color: var(--secondary-blue);
}
.currency-table--container, 
.commissions-table--container{
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;
  border-radius: 15px;
}
.currency-table--container table, 
.commissions-table--container table{
  width: 100%;
  height: 100%;
}
.currency-table--container td, 
.commissions-table--container td{
  width: 50%;
  /* text-align: left; */
  padding-left: 8px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.0rem;
  color: var(--grey);
  background-color: var(--just-white);

}
.currency-table--container .table__top-left, 
.commissions-table--container .table__top-left{
  border-radius: 16px 0 0 0;
}
.currency-table--container .table__top-right, 
.commissions-table--container .table__top-right{
  border-radius:  0 16px 0 0 ;
}
.currency-table--container .table-bottom-left,
.commissions-table--container .table-bottom-left{
  border-radius:  0 0 0 16px;
}
.currency-table--container .table__bottom-right,
.commissions-table--container .table__bottom-right{
  border-radius: 0 0 16px 0;
}
.currency-table--container .money-logo,
.commissions-table--container .money-logo{
  color: var(--green-money);
}
.currency-table--container .table_right,
.commissions-table--container .table_right{
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.6rem;
  color:#757575;
}
.currency-table--container .table_left,
.commissions-table--container .table_left{
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.6rem;
  color: var(--dark-blue);
}
.currency-table--container .up,
.commissions-table--container .up{
  display: inline-block;
  align-self: self-end;
  width: 16px;
  height: 16px;
  margin-left: 10px;
  background-image: url("../assets/icons/trending-up.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.currency-table--container .down,
.commissions-table--container .down{
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 10px;
  background-image: url("../assets/icons/trending-down.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.currency-table-date{
  width: 190px;
  height: 31px;
  margin: 0 auto;
  margin-top: -18px;
  margin-bottom: 30px;
  padding: 9px;
  background-color: var(--soft-orange);
  border-radius: 10px;
}
.commissions-table-date{
  width: 190px;
  height: 31px;
  margin: 0 auto;
  margin-top: -18px;
  margin-bottom: 30px;
  padding: 9px;
  background-color: var(--soft-orange);
  border-radius: 10px;
}
.currency-table-date p,
.commissions-table-date p{
  margin: 7px;
  font-size: 1.2rem;
  line-height: 1.5px;
}
.main-product-detail{
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 10px;
  background-color: var(--black);
}
.product-detail--batata-logo{
  position: absolute;
  width: 40.57px;
  height: 25.01px;
  left: calc(50% - 20px);
  top: -10px;
  background-image: url("../assets/icons/batata.svg");
}
.product-detail-title{
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}
.product-detail-title h2{
  margin-bottom: 20px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.5rem;
  color: var(--just-white);
}
.product-detail-title p{
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: #808080;
}
.product-detail-card{
  width: 90%;
  min-width: 290px;
  max-width: 500px;
  height: 155px;
  margin: 15px auto;
  padding: 15px;
  background-color: var(--warm-black);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 8);
  border-radius: 15px;
}
.product-detail-card .clock{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  margin-bottom: 10px;
  background-image: url("../assets/icons/clock.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.product-detail-card .eye{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  margin-bottom: 10px;
  background-image: url("../assets/icons/eye.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.product-detail-card .dollar{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  margin-bottom: 10px;
  background-image: url("../assets/icons/dollar-sign.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.product-detail-card .check{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  margin-bottom: 10px;
  background-image: url("../assets/icons/check-circle.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.product-card_title{
  margin-bottom: 15px;
  font-size: 1.9rem;
  font-weight: bold;
  line-height: 1.5rem;
  color: var(--just-white);
}
.product-card-body{
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4rem;
  color: #808080;
}
.bitcoin-img-container{
  width: 100%;
  min-width: 330px;
  height: 60vh;
  background-image: url("../assets/img/bitcoinbaby2x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.bitcoin-img-container h2{
  padding-top: 70px;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 2.5rem;
  color: var(--off-white);
}
.main-plans-container{
  width: 100%;
  min-width: 330px;
  padding-bottom: 75px;
  text-align: center;
}
.main-plans-container h2{
  padding-top: 50px;
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 2.6rem;
  color: var(--bitcoin-orange);
}
.main-plans-container .mini-paragraph{
  padding-top: 35px;
  font-size: 1.5rem;
  font-weight: lighter;
  line-height: 1.7rem;
  color: #757575;
}
 .plans-container-slider{
  display: flex;
  height: 320px;
  overflow: scroll;
  overflow-behavior-x: contain;
  scroll-snap-type: x proximity;
} 
.plans-container-cards{
  position: relative;
  scroll-snap-align: center;
  width: 70%;
  min-width: 240px;
  max-width: 320px;
  height: 260px;
  margin: 50px 30px 0;
  padding: 0 17px;
  background-color: var(--just-white);
  border-radius: 16px;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}
.plans-container-cards .recommended{
  position: absolute;
  width: 120px;
  height: 35px;
  left: calc(50% - 60px);
  top: -15px;
  margin: 0;
  padding: 9px;
  background-color: var(--bitcoin-orange);
  border-radius: 15px;
  box-shadow: 2px 4px 8px rgba(89, 73, 30, 0.16);
  color: var(--off-white);
}
.plan-card-title{
  padding: 33px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--warm-black);
}
.plans-card-prize span{
  font-size: 2.0rem;
  font-weight: 300;
  vertical-align: 25px;
}
.plans-container-cards .plans-card-prize{
  padding: 5px 0px;
  font-size: 5.4rem;
  font-weight: bold;
  line-height: 1.9rem;
  color: var(--black);
}
.plans-container-cards .plans-card-saving{
  padding-top: 30px;
}
.plan-card--ca{
  width: 150px;
  height: 50px;
  margin-top: 20px;
  background: var(--soft-orange);
  border: 2px solid var(--bitcoin-orange);
  border-radius: 32px;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--bitcoin-orange);
}
.plan-card--ca span{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../assets/icons/orange-right-arrow.svg");
  vertical-align: bottom;
}
footer{
  display: flex;
  width: 100%;
  height: 150px;
  background-color: var(--bitcoin-orange);
}
footer section{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.left .icons a{
  text-decoration: none;
}
.left .icons span{
 color: var(--off-white);
}