@media(min-width: 768px){
  .plans-container-cards{
    display: inline-block;
  }
  footer img{
    width: 130px;
    height: 100px;
  }
  .plans-container-cards .special{
    background-color: #1a9af7;
  }
}
@media(min-width: 1024px){
  .header-title-container p{
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.6rem;
  }
  .header-title-container .header-button{
    position: absolute;
    left: calc(50% - 90px);
    top: 270px;
    display: block;
    margin-top: 52px;
    padding: 8px;
    width: 200px;
    height: 35px;
    background-color: #ffe9d5;
    /* shadows-styles */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 6px;
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
  }
  .main-exchange-container .backgroundImg{
    width: 630px;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url("../assets/img/crypto.vector.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow:  0px 4px 8px rgba(89, 73, 30, 0.16);

  }
  .main-exchange-container .paragraph{
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.6rem;
  }
  .main-currency-table .currency-table-title,
  .main-commissions-table .commissions-table-title{
    font-size: 2.0rem;
  }
  .product-detail--batata-logo{
    display: none;
  }
  .bitcoin-img-container h2{
    padding-top: 190px;
    font-size: 4.5rem;
  }
  .plans-container-cards{
    display: inline-block;
    
  }
}
